<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

      <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
      <script type="text/javascript" src="/bower_components/jquery-ui/jquery-ui.js"></script>
      <link href="/bower_components/jquery.fancytree/dist/skin-lion/ui.fancytree.min.css" rel="stylesheet" type="text/css">
      <script type="text/javascript" src="/bower_components/jquery.fancytree/dist/jquery.fancytree.js"></script>
      <script type="text/javascript" src="bower_components/jquery.fancytree/dist/src/jquery.fancytree.table.js"></script>
      <script type="text/javascript" src="bower_components/jquery.fancytree/dist/src/jquery.fancytree.gridnav.js"></script>
      <link rel='stylesheet' href='/stylesheets/style.css' />


    <script type="text/javascript">
      $(function(){
       //https://github.com/mar10/fancytree/wiki
       // Create the tree inside the <div id="tree"> element
       //fancytree options http://wwwendt.de/tech/fancytree/demo/#sample-configurator.html
        $("#tree").fancytree({
            source: {
                url: "zynxidea.json" //see http://wwwendt.de/tech/fancytree/doc/jsdoc/global.html#NodeData
            },
          activeVisible: true, // Make sure, active nodes are visible (expanded).
          aria: false, // Enable WAI-ARIA support.
          autoActivate: true, // Automatically activate a node when it is focused (using keys).
          autoCollapse: false, // Automatically collapse all siblings, when a node is expanded.
          autoScroll: true, // Automatically scroll nodes into visible area.
          clickFolderMode: 4, // 1:activate, 2:expand, 3:activate and expand, 4:activate (dblclick expands)
          checkbox: false, // Show checkboxes.
          debugLevel: 2, // 0:quiet, 1:normal, 2:debug
          disabled: false, // Disable control
          focusOnSelect: true, // Set focus when node is checked by a mouse click
          generateIds: false, // Generate id attributes like <span id='fancytree-id-KEY'>
          idPrefix: "zyn_", // Used to generate node id´s like <span id='fancytree-id-<key>'>.
          icon: true, // Display node icons.
          keyboard: true, // Support keyboard navigation.
          keyPathSeparator: "/", // Used by node.getKeyPath() and tree.loadKeyPath().
          minExpandLevel: 1, // 1: root node is not collapsible
          quicksearch: false, // Navigate to next node by typing the first letters.
          selectMode: 2, // 1:single, 2:multi, 3:multi-hier
          tabbable: true, // Whole tree behaves as one single control
            extensions: ["table"],
          titlesTabbable: false, // Node titles can receive keyboard focus
                table: {
                      indentation: 20,      // indent 20px per node level
                      nodeColumnIdx: 1

          },
            renderColumns: function(event, data) {

                var node = data.node,
                //could access the node.data here
                $tdList = $(node.tr).find(">td");
                $tdList.eq(0).text(node.getIndexHier()).html("icons"),
                // (index #1 is rendered by fancytree)
                $tdList.eq(2).text(node.key);
                $tdList.eq(3).html("<button>actions!</button>");
            }


      });//fancytree

      }); //function()


      //from http://wwwendt.de/tech/fancytree/demo/#sample-api.html
      function nodeclicked() {
          var node = $("#tree").fancytree("getActiveNode");
          var d = node.toDict(true, function (dict) {
              delete dict.key;
          });
          alert(JSON.stringify(d));
      }

    </script>


  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <table id="tree" width="600px" border="1">
        <colgroup>
            <col width="30px"></col>
            <col width="*"></col>
            <col width="30px"></col>
            <col width="50px"></col>
        </colgroup>
        <thead>
        <tr>
            <th>magic status icons</th>
            <th>text</th>
            <th>key for kicks</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
  <button onclick="nodeclicked();">nodetodict</button>
  </body>
</html>
