body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.zynx-section{
  font-weight: bold;
}

.zynx-subsection{
  font-style: italic;
}

.zynx-orderable{

}

.zynx-medication{

}

.zynx-detail .fancytree-title {
  color: gray;
}

.zynx-not-mappable
{

}

.zynx-Reminder{

}

.zynx-title-term{

}
.zynx-title-itemdetail{

}
.zynx-title-additionalinfo{

}
.zynx-title-textoverride{

}
.zynx-title-freetextdetail{

 }